header {
  position: fixed;
  top: 0%;
  bottom: 0%;
  width: 100%;
  height: 12%;
  background-color: #A5DBDA;
  z-index: 150
}

a:link {color: slategray;}

header h2 {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 50px;
  margin-top: 0px;
  float: left;
  /*position: fixed;*/
  /*clear; none*/
}

header ul {
  float: right;
  margin-right: 1%;
  list-style-type: none;
  /*clear: both;*/
  /*position: fixed*/
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  margin-bottom: 0%;
}

p {
  font-family: 'Raleway', sans-serif;
}

section h1 {
  /*width: 100%;
  height: 100%;*/
  font-family: 'Amatic SC', cursive;
  /*color: #A4B5CF*/
  font-size: 150px;
  text-align: center;
  z-index: 130;
}

h1 {
  color: white;
}

#hero {
  /*position: relative;*/
  display: inline-block;
  background-image: url("/Users/allisonnorthrop/ada/05_week/meowspace/assets/hero.jpg");
  background-size: 100% auto;
  background-position: center;
  /*-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);*/
  top: 0%;
  bottom: 0%;
  width: 100%;
  height: 150%;
  z-index: 120;
}

.popular_posts {
  text-align: center
}

#top_articles > * {
  vertical-align: top;
}

#left_article {
  display: inline-block;
  width: 25%;
  height: 300px;
  margin-left: 7%;
  /*border: 2px;
  border-style: solid;
  border-color: black;*/
  /*float: left;*/
}

h3 {
  text-align: center;
}

#middle_article {
  display: inline-block;
  width: 25%;
  height: 300px;
  margin-left: 5%;
  margin-right: 5%;
  /*border: 2px;
  border-style: solid;
  border-color: black;*/
  /*text-align: center;*/
}

#right_article {
  display: inline-block;
  width: 25%;
  height: 300px;
  /*border: 2px;
  border-style: solid;
  border-color: black;*/
  /*float: right;*/
}

#top_articles {
  align-items: center;
}

/*.hero {
  margin-top: 0%;
  margin-bottom: 0%;
}*/

/*h1 {
  margin-top: 0%;
  margin-bottom: 0%;
  width: 100%;
  height: 12%;
}*/
